body {
  color: darkcyan;
  transition: all .1s ease;
}

p:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../img/ishigaki logo.svg");
  background-size: contain;
  content: "";
}